body {
  margin: 0;
  padding: 0;
  background-image: url('../public/star-wars-backgrounds-14.jpg');
  background-size: cover;
}

.header {
  background-color: black;
  color: rgb(255, 217, 0);
  padding: 10px;
  font-family: "jedi", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin: 10px;
}

@font-face {
  font-family: "jedi hollow";
  src: url('/public/Starjhol.ttf');
}

@font-face {
  font-family: "jedi";
  src: url('/public/Starjedi.ttf');
}